<section class="form-container">
  <h4>Report a pothole</h4>
  <form action="/reports" method="post" >
    <p class="input-field">
        <input type="text" name="reports[severity]">
      <textarea name="reports[content]" cols="30" rows="10" placeholder="Message"></textarea>
    </p>
    <p class="input-field">
      <input type="submit" value="Report" class="btn btn-success">
    </p>
  </form>
</section>