<p class="panel">
  {{> 'reports'}}
</p>
{{#if comments.length}}
  {{#each comments}}
    <div class="panel">
      <div class="panel-body">
        <span>
          {{ content }}
        </span>
      </div>
      <div class="panel-footer">
        <span class="">{{ timestamp }}</span>
      </div>
    </div>
  {{/each}}
{{/if}}

<div class="panel">
  <div class="panel-body">
    <h4>Add a comment:</h6>
    {{!-- <form method="POST" action="/reports/{{id}}" > --}}
      <p class="input-field inline col-sm-10">
        <label for="content"></label>
        <input type="text" name="content" id="">
      </p>
      <p class="input-field inline col-sm-2">
        <input class="btn btn-success" type="submit" value="Submit">
      </p>
    {{!-- </form> --}}

    <form action="/reports/{{id}}?_method=DELETE" method="post">
    <input class="btn btn-success" type="submit" value="Delete">
</form>

  </div>
</div>