<div class="panel">
  <div class="panel-body">
    <a href="/reports/{{id}}">
      {{ content }}
    </a>
  </div>
  <div class="panel-footer">
    <span >{{ timestamp }}</span>
    <span >{{ comments.length }} Comments</span>
  </div>
</div>